// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #4c6e9b;
$secondary : rgb(0,0,0,0.6);
$accent    : rgb(0,0,0,0.6);
$blue-1: #4c6e9b;


$classy_gray : #5F6366;
$classy_purple: #86B3D1;
$classy_skyblue: #99CED3;
$cPink: #EDB5BF;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl';
